.h-10 {
    height: 10%;
}

.h-90 {
    height: 90%;
}

.link {
    z-index: 999;
    display: inline-block;
    width: 100%;
    position: relative;
    font-size: 15pt;
    /* background-color: beige; */
    color: blue;
    /* height: 50px; */
    text-align: center;
    background-image: url("imgs/link.png");
    background-position: center;
    background-size: contain;
}

#arjsDebugUIContainer {
    display: none !important;
}

.a-enter-vr {
    display: none !important;
}
